{% extends 'base.html' %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<div style="font-family: 'Contrail One', regular;">
    <h1 class="display-1">We are shoepersonic.com</h1>
</div>
<div>
    <p>We sell fast shoes for the time poor. Work hard, race harder.
        A site for the pro atheles who got a stable job. We all wish we could run more.
        Here on shoepersonic we sell products that are designed to squeeze every second of running out of your day.
        That's fast shoes for your commute and even faster shoes for your races at the weekend.
        We are the weekday warriors. 
    </p>
    <p>
     
    </p>
</div>
{% endblock %}