{% extends 'base.html' %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<div>
    <h1 class="display-1">Congratulations you've just stumbled accross your next racing shoe</h1>
</div>
<div>
    <h2>Cross country season is here!</h2>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for shoe in all_shoes %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <h2>{{ shoe.brand }} {{ shoe.name }}</h2>
            <img class="d-block w-100" src="{{ MEDIA_URL }}{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div>
    <h2>About us</h2>
    <p>We are a start-up running shoe seller born out of the frustration of trying to buy running shoes that are 
        that are super fast.
    </p>
</div>
{% endblock %}