{% extends 'base.html' %}
{% block content %}
<h1>Check out these shoes</h1>
<div class="container-fluid">
    <div class="row">
        {% for shoe in all_shoes %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-0">
            <div class="card">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}" style="height: 230px;">
                <div class="card-body">
                    <h5 class="card-title">{{ shoe.brand }} {{ shoe.name }}</h5>
                    <p class="card-text">{{ shoe.strapline }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}