{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<h1>{{ shoe.brand }} {{ shoe.name }}</h1>
<h1>Stock: </h1>
<div class="row align-items-center">
    <div class="media">
        <img height="315" src="{{ MEDIA_URL }}{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}">
    </div>
    <div class="card text-white bg-dark add-to-cart-card">
        <div class="card-body">
            <div class="row price-and-quantity-container">
                <div class="col price">
                    <h3>£{{ shoe.price }}</h3>
                </div>
                <div class="col quantity-chooser">
                    <button class="minus" disabled>-</button>
                    <span class="quantity" name="quantity">1</span>
                    <button class="plus">+</button>
                </div>
            </div>
            <div class="input-group mb-3">
                <form id="cartform" action="{% url 'add_to_cart' shoe.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group-prepend size-chooser">
                        <label class="input-group-text" for="inputGroupSelect01">Size</label>
                        <select form="cartform" required name="size" class="custom-select" id="inputGroupSelect01">
                            {% for shoe_stock in stock_level %}
                            <option value="{{ shoe_stock.size }}" {% if shoe == current_shoe %}selected{% endif %} >{{ shoe_stock.size }} ({{ shoe_stock.stock }} pairs left)</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn add-to-cart-button" type="submit" value="1" name="quantity">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>What we think</h2>
    <p>{{ shoe.description }}</p>
</div>
{% endblock %}