{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Shoepersonic BETA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="shopDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cross Country Spikes</a>
                            <div class="dropdown-menu" aria-labelledby="shopDropdown">
                                <a class="dropdown-item" href="{% url 'all_shoes' %}">All shoes</a>
                                <a class="dropdown-item" href="#">Men</a>
                                <a class="dropdown-item" href='#'>Women</a>
                            </div>
                        </li> 
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'all_shoes' %}" id="shopDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="shopDropdown">
                                <a class="dropdown-item" href="{% url 'all_shoes' %}">All shoes</a>
                                <a class="dropdown-item" href="">Flats</a>
                                <a class="dropdown-item" href="">Pluggers </a>
                                <a class="dropdown-item" href="">Cross Country Spikes</a>
                                <a class="dropdown-item" href="">Track Spikes</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>                            
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Shop</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Mens</a>
                            </li>
                            <li>
                                <a href="#">Womens</a>
                            </li>
                            <li>
                                <a href="#">Spike packets</a>
                            </li>
                            <li>
                                <a href="#">All products</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>About Us</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Our story</a>
                            </li>
                            <li>
                                <a href="#">About our reviews</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Delivery</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Stay connected</h3>
                        <p>Sign up to our email list:</p>
                        <input type="email" name="mailinglist" id="">
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'js/stripe.js' %}"></script>
    </body>
</html>
